<section class="home-hero d-flex" style="background-image: url({{ placeholderImage }});">
  <div class="home-hero_video-wrapper">
    <iframe src="https://player.vimeo.com/video/{{ backgroundVideo }}?background=1&autoplay=1&loop=1&byline=0&title=0"
           frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="container align-self-end margin--vertical pad--bottom">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <a href="#" class="btn btn-primary btn-large">View The Video</a>
      </div>
    </div>
  </div>
</section>