.product-intro {
  border-top: 16px solid $color-primary;
  border-bottom: 16px solid $color-primary;
  position: relative;
  z-index: 180;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../resources/media/line-texture.png');
  background-attachment: fixed;
  .row {
    //background-color: rgba($black, .6);
    padding: 24px;

    @include breakpoint(lg) {
      padding: 48px;
    }
    
  }

  h2 {
    @include breakpoint(md) {
      @include font-size(50);
    }
  }
}