.product-intro {
  position: relative;
  z-index: 180;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .row {
    //background-color: rgba($black, .6);
    padding: 24px;

    @include breakpoint(lg) {
      padding: 48px;
    }
    
  }
}