.navbar {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $charcoal;
  
  & > .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .navbar-brand {
    @include transition(all .3s ease);
    max-width: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-nav {
    @include breakpoint(lg) {
      li {
        margin-bottom: 0px;
        margin-left: 32px;

        a {
          font-weight: $font-weight-bold;
          @include font-size(22);
          text-transform: uppercase;
        }
      }
    }
  }
}