.navbar {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $charcoal;
  @include transition(all .3s ease);
  z-index: 800 !important;
  position: relative;

  .home & {
    background-color: transparent;
    border-bottom: 1px solid $charcoal;
  }

  &.scrolled {
    background-color: white;
    border-bottom-color: white;
    padding-top: 12px;
    padding-bottom: 12px;

    .navbar-brand {
      max-width: 150px;
    }

    .navbar-nav {
      li {
        a {
          color: $charcoal !important;

          .home & {
            color: $charcoal !important;
          }
        }
      }
    }
  }
  
  & > .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .navbar-brand {
    @include transition(all .3s ease);
    max-width: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-nav {
    @include breakpoint(lg) {
      li {
        margin-bottom: 0px;
        margin-left: 32px;

        a {
          font-weight: $font-weight-bold;
          @include font-size(18);
          text-transform: uppercase;

          .section-homepage & {
            @include opacity(1);
            color: white !important;
          }
        }
      }
    }
  }

  .mega-menu {
    position: static;
    .dropdown-menu {
      background: none;
      background-color: white;
      border: none;
      width: 100%;

      .container {
        padding: 0px;
      }
    }
  }
}