{% import "/_macros" as macros %}
{% set section = 'blog' %}
{% extends "_layouts/main" %}
{% block content %}
  {% if entry.heroBackground is defined and entry.heroBackground|length > 0 %}
    {% set heroBackground = entry.heroBackground.one.url %}
  {% else %}
    {% set heroBackground = '' %}
  {% endif %}
  {% include '_partials/hero' with {
    headline: entry.headline,
    subheadline: entry.subheadline,
    background: heroBackground
  } %}

  <section class="feed pad--vertical">
    <div class="container">
      <div class="row">
        {% for article in craft.entries.section('blog').all() %}
          <div class="feed_article col-md-6 col-lg-4 align-items-stretch">
            <div class="feed_article-card">
              <h2>{{ article.link }}</h2>
              <p class="text-muted">{{ article.blogDate|date("F jS, Y") }}</p>

              {{ article.blogAbstract }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
