.hero {
  position: relative;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  & > .container {
    position: relative;
    z-index: 2;
  }

  .hero_content {
    h1 {
      color: $color-primary;
    }
  }

  .hero_background {
    position: absolute;
    z-index: 1;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    .hero_background-image {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      bottom: 0px;
      z-index: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      @include breakpoint(lg) {
        width: 80%;
      }
    }

    .hero_background-gradient {
      display: block;
      position: absolute;
      z-index: 2;
      top: 0px;
      left: 0px;
      width: 100%;
      bottom: 0px;
      background: linear-gradient(
        to right,
        rgba($charcoal, 1),
        rgba($charcoal, 1),
        rgba($charcoal, 0)
      );

      @include breakpoint(md) {
        width: 70%;
      }

      @include breakpoint(lg) {
        width: 70%;
      }
    }
  }
}