<section class="home-hero d-flex" style="background-image: url({{ placeholderImage }});" data-aos="fade-up" data-aos-delay="500">
  <div class="home-hero_video-wrapper">
    <iframe src="https://player.vimeo.com/video/{{ backgroundVideo }}?background=1&autopause=0&autoplay=1&loop=1&byline=0&title=0"
           frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="container align-self-end margin--vertical pad--vertical">
    <div class="row">
      <div class="pad--top col-md-8 offset-md-2 text-center">
        <h1 class="color--white margin--bottom">{{headline}}</h1>
        <button data-aos="fade-up" data-aos-delay="3000" type="button" class="btn btn-primary btn-hollow video-btn" data-toggle="modal" data-src="https://player.vimeo.com/video/{{ video }}?badge=0" data-target="#videoModal">
          Play Video
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div> 