<section class="page-title background-darkGray">
  <div class="container pad--bottom-small pad--top">
    <div class="row">
      <div class="col-md-8 col-lg-6 text-white page-title_content">
        <h1 data-aos="fade-up" data-aos-delay="250">{{ headline }}</h1>
        {% if subheadline is defined and subheadline|length %}
          <p class="lead" data-aos="fade-up" data-aos-delay="500">{{ subheadline }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>