
{% if background is defined and background|length > 0 %}
  {% set backgroundImage = background %}
  {% set contentBg = 'true' %}
{% else %}
  {% set backgroundImage = '' %}
  {% set contentBg = '' %}
{% endif %}

<section id="product-intro" class="product-intro pad--vertical-half background-darkGray">
  <div class="container">
    <div class="row align-items-center" data-aos="fade-up">
      <div class="col-lg-7 product-intro_content color--white">
        <h2 class="color--primary">{{ title }}</h2>
        {{ content }}
      </div>
      <div class="col-lg-5">
        <div class="product-intro_slider">
          {% for photo in photos %}
            <div class="slide">
              <img src="{{ photo.url }}"/>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>