<div class="product-tile p-3" data-aos="fade-up" data-aos-delay="250">
  <a href="{{ product.url }}">
    <img class="product-tile_image mb-2" src="{{ product.productThumbnail.one.url }}"/>
    <div class="product-tile_content">
      <p class="product-tile_title">{{product.title}}</p>
    </div>
  </a>
</div>