.builder-section {
  &.content-section {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
    &.text-light {
      .content.background--true {
        background-color: rgba(orange, .8);
        border-left: 8px solid white;
        & > * {
          color: white;
        }

      }
      .container.background--true {
        background-color: rgba(orange, .8);
        border: 8px solid white;
      }      
    }

    &.text-dark {
      .content.background--true {
        background-color: rgba(white, .8);
        border-left: 8px solid $color-primary;
      }
      .container.background--true {
        background-color: rgba(white, .8);
        border: 8px solid $color-primary;
      } 
    }
  }

  &.call-to-action {
    position: relative;
    background-attachment: fixed;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: $black;
      @include opacity(.6);
      z-index: 1;
    }

    & > .container {
      position: relative;
      z-index: 2;
    }
  }

  &.rich-text {
    .content {
      padding: 24px;

      @include breakpoint(lg) {
        padding: 48px;
      }
    }
  }

  &.two-column {
    .container.background--true {
      padding: 24px;

      @include breakpoint(lg) {
        padding: 48px;
      }
    }

    .content {
      @include breakpoint(md) {
        &:first-of-type {
          padding-right: 24px;
        }
        &:last-of-type {
          padding-left: 24px;
        }
      }
      @include breakpoint(lg) {
        &:first-of-type {
          padding-right: 36px;
        }
        &:last-of-type {
          padding-left: 36px;
        }
      }
    }
  }

  &.image-with-text,
  &.video-with-text {
    .content {
      @include content-padding;
    }
  }
  
  &.product-section {
    position: relative;
    overflow: hidden;
    .content {
      position: relative;
      z-index: 2;
      @include content-padding;
      background-color: rgba($black, .4);
      border-left: 8px solid $color-primary;
    }

    .image {
      position: relative;
      z-index: 2;
    }

    .product-section_toggle {
      position: absolute;
      z-index: 3;
      top: 30px;
      left: 30px;
      height: 60px;
      width: 60px;
      background-image: url('../resources/media/eye-open-icon.svg');
      background-size: 40px;
      background-position: center center;
      background-repeat: no-repeat;

      &.eye-closed {
        background-image: url('../resources/media/eye-closed-icon.svg');
      }
    }

    .product-section_info {
      @include opacity(1);
      @include transition(all .3s ease);

      &.invisible {
        @include opacity(0);
      }
    }

    .product-section_background {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;

      z-index: 1;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-attachment: fixed;

      .product-section_background-slider {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-attachment: fixed;

        .slick-slide, .slick-track, .slick-list {
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          background-attachment: fixed;
        }

        .slick-slide {
          & > div {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
          }
        }
      }

      .slide {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        

        &:before {
          display: block;
          content:'';
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          background-color: rgba(black, .2);
        }
      }
    }
  
    
  }
}