.contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../resources/media/line-texture.png');
  background-attachment: fixed;
  @include breakpoint(md) {

  }
  .contact_content {
    padding: 60px;
    @include breakpoint(md) { 
      border-left: 12px solid $black;
    }
  }
}